<!doctype html>
<head>
    <title>Test MFA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div id="result" class="px-4 py-3 my-2 text-center">
            Sending test push...
        </div>
    </main>
    <script type="text/javascript">
        const checkPushInterval = setInterval(checkPushStatus, 5000);

        var checkPushStatusCounter = 0;

        function clearIntervals(){
            clearInterval(checkPushInterval);
        }

        function checkPushStatus(){
            var url = "{{url_for('check_push')}}?txid={{txid}}";
            console.log(url)

            fetch(url).then(function(response) {
                return response.json();
            }).then(function(data) {
                console.log(data)
                if(data.success){
                    clearIntervals();
                    document.getElementById("result").innerHTML="Test passed.";
                }
                else {
                    checkPushStatusCounter++
                    if(checkPushStatusCounter == 5){
                        document.getElementById("result").innerHTML="Test failed. Trying again...";
                    }
                    if(checkPushStatusCounter == 6){
                        location.reload();
                    }
                }
            }).catch(function() {
                console.log("error");
            });
        }

        window.onload = (event) => {
            console.log('The page is fully loaded.');
        };
     </script> 
   </body>
</html>
